<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <title>{{title}} - Flask Tutorial</title>
    </head>

    <body>
        <div class="container">
            <nav class="container bg-dark">
                <h1 class="font-xl">Flask Testing Ground</h1>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/title/Changeme">Example GET</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/admin">admin</a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>
            <div class="container content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>

</html>
